.first{
    color:blue;
}
.two{
    color: green;
    font-size: 25px;
}

#p1{
    color:lightsalmon;                  
    font-size: 40px; 
    
}
.cvet1{
    color:lime;
}
.cvet2{
    color:mediumvioletred;
}
#p2{
    color:blue;
    font-size: 30px; 
}

